[submodule "mountainlab"]
	path = mountainlab
	url = https://github.com/flatironinstitute/mountainlab
[submodule "mlpipeline"]
	path = mlpipeline
	url = https://github.com/flatironinstitute/mlpipeline
[submodule "mountainview"]
	path = mountainview
	url = https://github.com/flatironinstitute/mountainview
[submodule "packages/mountainsort"]
	path = packages/mountainsort
	url = https://github.com/flatironinstitute/mountainsort
[submodule "cloud_apps/docstor"]
	path = cloud_apps/docstor
	url = https://github.com/magland/docstor
[submodule "cloud_apps/kulele"]
	path = cloud_apps/kulele
	url = https://github.com/magland/kulele
[submodule "cloud_apps/mlbot"]
	path = cloud_apps/mlbot
	url = https://github.com/magland/mlbot
[submodule "cloud_apps/slackarchive"]
	path = cloud_apps/slackarchive
	url = https://github.com/magland/slackarchive
[submodule "cloud_apps/url4text"]
	path = cloud_apps/url4text
	url = https://github.com/magland/url4text
[submodule "cloud_apps/kbucket"]
	path = cloud_apps/kbucket
	url = https://github.com/magland/kbucket
[submodule "mountainsort_examples"]
	path = mountainsort_examples
	url = https://github.com/flatironinstitute/mountainsort_examples
[submodule "dev_utils/ml-build-debian"]
	path = dev_utils/ml-build-debian
	url = https://github.com/magland/ml-build-debian
[submodule "cloud_apps/cordion"]
	path = cloud_apps/cordion
	url = https://github.com/magland/cordion
[submodule "cloud_apps/mlstudy"]
	path = cloud_apps/mlstudy
	url = https://github.com/magland/mlstudy
[submodule "cloud_apps/kbucketauth"]
	path = cloud_apps/kbucketauth
	url = https://github.com/magland/kbucketauth
[submodule "cloud_apps/tidbits"]
	path = cloud_apps/tidbits
	url = https://github.com/magland/tidbits.git
[submodule "packages/kbucket_upload"]
	path = packages/kbucket_upload
	url = https://github.com/magland/kbucket_upload
